<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
    
    </head>
     <body>
         <div>
        <h1>Reset Password</h1>
        <p>If we found an account associated with that username,</p>
        <p>we've sent password reset instructions to the primary</p>
        <p>email address on the account</p>
     </div>
        
     </body>
</html>
